@using MealTimeOnline.Models.Consumer
@{ViewBag.Title = "Addresses";}
<div class="container clearfix">
    @{Html.RenderPartial("_accountLayout"); }
    @{
        var db = new MealTimeOnline.DataAccessLayer.MtoDataContext();
        var id = int.Parse(HttpContext.Current.User.Identity.Name);
        var curUser = db.Users.Single(c => c.Id == id);
    }

    <div class="right-side left">
        <div class="global-panel-big-title">收货地址</div>
        <div id="needtoadd">
            @if (curUser.RoomNum == null || curUser == null)
            {
                @("{add}")
            }
            else
            {
                @("done")
            }
        </div>
    </div>
</div>